.logo a:hover {
    animation-name: color;
    background-color: yellow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes color {
    0% {background-color: yellow;}
    100% {background-color: white;}
}

.jumbotron {
    display: inline-box;
    align-items: center;
    padding: 250px;
}

.lead {
    text-align: center;
    font-size: 30px;
    margin: 0px;
}

#meetme {
    padding-left: 100px;
}


.yellowtext {
    font-family: Swis721 BdOul BT;
    font-weight: bold;
}

.para1 {
    font-size: 20px;    
}

.highlight {
    font-weight: bolder;
    color: black;
    font-size: 30px;
}

.para2 {
    font-size: 20px;
    text-align: right;
    list-style-type: none;
}

.skills {
    width: 100px;
    height: 100px;
}

.card {
    color: black;
    font-size: 12px;
    border-style: double;
    border-color: black;
    display: inline-block;
}


@media screen and (max-width:600px){
    .jumbotron {
        padding: 50px;
    }
}
    
@media screen and (max-width:850px){
    .jumbotron {
        padding: 100px;
    }
}
    
@media screen and (min-width:1200px){
     .jumbotron {
        padding: 250px;
    }
}
    
    